.clubs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
  justify-items: center;

  padding: 30px;
  max-width: 1700px;
  margin: 0 auto;
}

.clubs-container .club-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clubs-container .club-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
}

.club-card {
  position: relative;
  width: 350px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.club-photo {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.club-content {
  padding: 20px;
}

.club-title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.club-description {
  font-size: 14px;
  margin: 8px 0 12px;
  color: #444;
}

.club-info p {
  margin: 4px 0;
  font-size: 14px;
}

.members-progress {
  margin: 15px 0;
}

.members-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 6px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #e5e5e5;
  border-radius: 50px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #4a90e2;
  border-radius: 50px;
}

.join-btn {
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.join-btn:hover {
  background: #3379c9;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: none;
}

#overlay {
  z-index: 10;
}

.join-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  z-index: 1001;
  display: none;
}

.form-box {
  background: #ffffff;
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
}

.form-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-box input,
.form-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.close-btn {
  width: 100%;
  padding: 10px;
  background: #d33;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}