* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background: #F5F7FA;
    color: #1F2937;
    padding-top: 60px;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}