* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #EDF2F4;
    padding-top: 60px;;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}