.computer-nav {
    background-color: #2B2D42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.nav-logo-txt {
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.comp-nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.comp-nav-link:hover {
    text-decoration: underline;
}

.selected-nav {
    text-decoration: underline;
}

.footer {
  background: #fff;
  padding: 40px 0 20px;
  font-family: "Poppins", sans-serif;
  color: #333;
  margin-top: 60px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.footer-section h3 {
  margin-bottom: 12px;
  font-size: 18px;
  color: #222;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 6px 0;
  font-size: 14px;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  transition: 0.2s;
}

.footer-section a:hover {
  color: #4a90e2;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.footer-bottom p {
  font-size: 14px;
  color: #555;
}
